$hint-default-border-color: #383838;
$hint-error-background: #b34e4d;
$hint-text-shadow: 0 -1px 0px rgba(255,255,255,0.15);
$hint-text-color: white;
$hint-warning-background: #c09854;
$hint-info-background: #3986ac;